<?xml version="1.0" encoding="UTF-8"?>

<phpunit xmlns:xsi="https://www.w3.org/2001/XMLSchema-instance" backupGlobals="false" backupStaticAttributes="false" colors="true" convertErrorsToExceptions="true" convertNoticesToExceptions="true" convertWarningsToExceptions="true" processIsolation="false" stopOnFailure="false" bootstrap="tests/bootstrap.php">
  <testsuites>
    <testsuite name="PHP JSON Web Token Test Suite">
      <directory>./tests</directory>
      <exclude>./tests/JWKTest.php</exclude>
      <exclude>./tests/JWTTest.php</exclude>
    </testsuite>
  </testsuites>

  <filter>
    <whitelist processUncoveredFilesFromWhitelist="true">
      <directory>./src</directory>
    </whitelist>
  </filter>

  <logging>
    <log type="coverage-clover" target="build/logs/clover.xml"/>
  </logging>
</phpunit>
